build/
hercules.log
sysgen/dasd*.tar
sysgen/pch*.txt
sysgen/prt*.txt
sysgen/print00e.txt
sysgen/punch00d.txt
sysgen/*.log
sysgen/dasd/
sysgen/failure
sysgen/jcl/stage2.jcl
sysgen/stage1.output
SOFTWARE/BREXX/BREXX370_V2R4M0/
SOFTWARE/BREXX/zip/
SOFTWARE/REVIEW/zip/
sysgen/mvslog.txt
start_mvs.sh
SOFTWARE/BREXX/01_receive_install.jcl
SOFTWARE/BREXX/02_brexx_unpack.jcl
SOFTWARE/BREXX/03_brexx_install.jcl
SOFTWARE/BREXX/BREXX.INSTALL.XMI
SOFTWARE/REVIEW/*.xmi
SOFTWARE/RPF/*.xmi
SOFTWARE/KLINGON/01_klingon_files.jcl
SOFTWARE/LISTCDS/01_install_listcds.jcl
SOFTWARE/NJE38/01_make_maclib.jcl
SOFTWARE/NJE38/02_make_asmsrc.jcl
SOFTWARE/QUEUE/01_install_queue.jcl
SOFTWARE/RPF/00_rpf_alias_profile.jcl
SOFTWARE/RPF/01_rpf_install_jcl.jcl
SOFTWARE/RPF/02_rpf_install_help.jcl
SOFTWARE/RPF/03_rpf_install_loadlib.jcl
SOFTWARE/RPF/04_rpf_tso_help.jcl
SOFTWARE/RPF/05_rpf_tso_cmdlib_parmlib.jcl
SOFTWARE/RPF/rpf189pn.xmi
SOFTWARE/TSOAUTHC/01_install_tsoauthc.jcl
SOFTWARE/RAKF
SOFTWARE/FTPD
release/

