* IPLing the Starter System
##
#HAO TGT IBC163A
#HAO CMD STOP
##
ostailor default
panopt msgcolor=dark
shcmdopt enable
pantitle "Build System Starter"
exec ../automate.rexx ../01_sysgen_starter.txt hercules.log -d &&
ipl 280