#
####################################################################
#                HERCULES EMULATOR CONTROL FILE                    #
####################################################################
#
# use for running newly built MVS/CE 3.8j system
# last modified for use with SDL Hercules Hyperion 4.3 on 18 AUG 2021
#

ARCHMODE  S/370
CPUSERIAL 134001
CPUMODEL  0148
MAINSIZE  16
XPNDSIZE  0
CNSLPORT  3270
NUMCPU    2
LOADPARM  ........
SYSEPOCH  1900
#YROFFSET  -28       # offset for non-Y2k compliant OS
#TZOFFSET  -0100     # daylight savings time in effect
OSTAILOR  QUIET       # controls number of error messages logged
CODEPAGE  819/1047 # Uses the 1047 ASCII/EBCDIC codepage
##
# SYSGEN AUTOMATION
##
REXX MSGP ON
SHCMDOPT ENABLE
DIAG8CMD ENABLE
PANOPT MSGCOLOR=DARK RATE=250
# .-----------------------------Device number
# |     .-----------------------Device type
# |     |       .---------------File name
# |     |       |
# V     V       V
#---    ----    --------------------------------- card readers
000C    3505    localhost:3505 sockdev autopad trunc ascii eof
001A    3505    localhost:3506 sockdev autopad trunc ebcdic eof
001C    3505    * 
# ----------------------------------------------- card punches & printers
000D    3525    punchcards/pch00d.txt ebcdic          # JES2
000E    1403    printers/prt00e.txt                 # JES2
000F    3211    printers/prt00f.txt                 # JES2
001D    3525    punchcards/pch01d.txt ascii
# ----------------------------------------------- 2401 on channel 1
0100.4  3420    *
# ----------------------------------------------- 3420 on channel 3
0310.4  3420    *
# ----------------------------------------------- 3350 on Channel 1
0150    3350    DASD/mvsres.3350
0151    3350    DASD/mvs000.3350
0152    3350    DASD/page00.3350
0153    3350    DASD/spool1.3350
#------------------------------------------------ 3380 on Channel 1
0180    3380    DASD/pub000.3380
#------------------------------------------------ 3390 on Channel 1
0190    3390    DASD/pub001.3390 cu=3880
#------------------------------------------------ 2314 on Channel 2
0220    2314    DASD/sortw1.2314
0221    2314    DASD/sortw2.2314
0222    2314    DASD/sortw3.2314
0223    2314    DASD/sortw4.2314
0224    2314    DASD/sortw5.2314
0225    2314    DASD/sortw6.2314
#------------------------------------------------ 3350 on Channel 2
0250    3350    DASD/smp000.3350
0251    3350    DASD/work00.3350
0252    3350    DASD/work01.3350
0253    3350    DASD/syscpk.3350
# ----------------------------------------------- consoles
0010    3270    console      # master console
0009    3215-C  /            # alternate console (required for automation)
0015    1403    mvslog.txt   # hardcopy of master console
# ----------------------------------------------- 3270's for TSO
0400.8  3270
