//KLINGON1 JOB (JOB),'KL',CLASS=A,MSGCLASS=A,
//            REGION=1024K,USER=IBMUSER,PASSWORD=SYS1
//*
//* This JCL is generated automatically
//* edit 01_klingon_files.template to make changes
//*
//* *******************************************************************
//*
//* CLEAN UP
//CLEANUP EXEC PGM=IDCAMS
//SYSIN    DD *
  DELETE SYSGEN.KLINGON.SOURCE SCRATCH PURGE
  DELETE SYSGEN.KLINGON.ASSETS SCRATCH PURGE
  SET MAXCC=0
  SET LASTCC=0
//SYSPRINT DD SYSOUT=*
//* Upload files
