#
####################################################################
#                HERCULES EMULATOR CONTROL FILE                    #
####################################################################
#
# use for running SYSGEN to build target MVS 3.8j system
# (last modified for use with Hercules 3.11 on 20 Dec 2014)
#

ARCHMODE  S/370
CPUSERIAL 000611
CPUMODEL  0148
MAINSIZE  16
XPNDSIZE  0
CNSLPORT  3270
NUMCPU    1
LOADPARM  ........
SYSEPOCH  1900
#YROFFSET  -28       # offset for non-Y2k compliant OS
#TZOFFSET  -0100     # daylight savings time in effect
PANRATE   250
OSTAILOR  NULL       # controls number of error messages logged

# .-----------------------------Device number
# |     .-----------------------Device type
# |     |       .---------------File name
# |     |       |
# V     V       V
#---    ----    --------------------
0170    3420    tape/stage1.het
000E    1403    prt00e.txt
0012    3505    jcl/null.jcl eof trunc ascii
0013    3525    pch013.txt ascii
001F    3215-C  /    
0148    3350    dasd/smp000.3350    # distribution libraries
0150    3330    dasd/start1.3330    # mvs 3.7 "starter" system residence
0151    3330    dasd/spool0.3330    # mvs 3.7 jes2 spool volume
0248    3350    dasd/work00.3350    # mvs 3.7 work volume
0249    3350    dasd/work01.3350    # work volume during smp/sysgen & in mvs 3.8j system
